<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--add key="constr" value="server=115.28.169.38,9753;uid=sync;pwd=sync;database=luqinsyncsns"/-->
    <add key="constr" value="server=112.126.68.76,9753;uid=bakery;pwd=eurobak;database=trx"/>
    <add key="md5key" value="weixin_web_md5_trx"/>
    <add key="wxappid" value="wxc21e0da2a697a565"/>
    <add key="wxappsecret" value="686466d10e7be1786e8816f0ebdfe2fe"/>
    <!--add key="qrcode_path" value="D:\Webs\weixin.luqinwenda.com\images\qrcode"  /-->
    <add key="qrcode_path" value="c:\qrcode\"  />
    <add key="domain_name" value="trx.999uuu.cn"  />
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>