<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--add key="constr" value="server=112.126.68.76,9753;uid=sync;pwd=sync;database=miss" /-->
    <add key="constr" value="server=snowmeet.database.chinacloudapi.cn;uid=cangjie;pwd=Jarrod780209;database=wechat_db"/>
    <add key="md5key" value="snowmeetfreeski"/>
    <add key="wxappid" value="wxf91253fd1c38d24e"/>
    <add key="wxappsecret" value="ef5c0cb306e36380c0cfd49f40991194"/>
    <add key="domain_name" value="weixin.snowmeet.com"/>
    <add key="image_url" value="http://weixin2.999uuu.cn/images"/>
    <add key="web_site_physical_path" value="C:\webs\weixin-snowmeet.chinacloudsites.cn"/>
    <!-- 好近payment -->
    <add key="payment_haojin_domain_name" value="openapi-test.qfpay.com"/>
    <add key="haojin_app_id" value="DED2F410594B40A8BF8B372FAEC6ED6F"/>
    <add key="haojin_app_key" value="615ED178BA524459976CE40FAB78000F"/>
    <add key="haojin_app_id_nanshan" value="40905386AFCB485EB84C7F11B0FCC6F4"/>
    <add key="haojin_app_key_nanshan" value="BC8A4FD1E6426AFBA7F402805991EF60"/>
    <!-- 好近payment -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <!--compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation-->
    <compilation targetFramework="4.5" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectPost" stopProcessing="true">
          <match url="api/data/post" />
          <action type="Redirect" url="finger_scaner/post.aspx" redirectType="Permanent" />
        </rule>
      <rule name="RedirectGet" stopProcessing="true">
          <match url="api/data/get" />
          <action type="Redirect" url="finger_scaner/get.aspx" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>