<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--add key="constr" value="server=112.126.68.76,9753;uid=sync;pwd=sync;database=miss" /-->
    <add key="constr" value="server=snowmeet.database.chinacloudapi.cn;uid=cangjie;pwd=Jarrod780209;database=wechat_db"/>
    <add key="md5key" value="snowmeetfreeski"/>
    <add key="wxappid" value="wxf91253fd1c38d24e"/>
    <add key="wxappsecret" value="ef5c0cb306e36380c0cfd49f40991194"/>
    <add key="mch_id" value="1517744411"/>
    
    <add key="domain_name" value="weixin-snowmeet.chinacloudsites.cn"/>
    <add key="image_url" value="http://weixin-snowmeet.chinacloudsites.cn/images"/>
    <!--add key="web_site_physical_path" value="d:\home\site\wwwroot"/-->
    <add key="web_site_physical_path" value="D:\home\site\wwwroot"/>
    <!-- 好近payment -->
    <add key="payment_haojin_domain_name" value="openapi.qfpay.com"/>
    <add key="haojin_app_id_nanshan_ticket" value="10F93E0F858D4908BC18A0D71FF97955"/>
    <add key="haojin_app_key_nanshan_ticket" value="D4B9F6F2A13A41BF9069016CC8988D09"/>
    <add key="haojin_app_id_bayi_ticket" value="AEAECA0AD2E647BA887FDAFC10687260"/>
    <add key="haojin_app_key_bayi_ticket" value="1F0125A418EE48759CD8E9F366C99861"/>
    <add key="haojin_app_id_nanshan_goods" value="7A72BA196C7748A98AF7D5515D8FA2B5"/>
    <add key="haojin_app_key_nanshan_goods" value="99F7FE13D9ED4620B1CDD3E2A1C7BA50"/>
    <add key="haojin_app_id_bayi_goods" value="40905386AFCB485EB84C7F11B0FCC6F4"/>
    <add key="haojin_app_key_bayi_goods" value="BC8A4FD1E6424AFBA7F402805991EF60"/>

    <add key="haojin_code" value="981FE5888DC342BC9D30A929B3ADA586" />
    <add key="haojin_key"  value="F58613CF54CD466CAA3C6299316072A5" />
    
    
    
    <!-- 好近payment -->

  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    
    <!--compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>
    </compilation-->
    <compilation targetFramework="4.0" debug="true"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>

  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectPost" stopProcessing="true">
          <match url="api/data/post" />
          <action type="Redirect" url="finger_scaner/post.aspx" redirectType="Permanent" />
        </rule>
        <rule name="RedirectGet" stopProcessing="true">
          <match url="api/data/get" />
          <action type="Redirect" url="finger_scaner/get.aspx" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>